			*{
				box-sizing: border-box;
			}
			body{
				background: #070F3F;
				overflow: hidden;
			}
			.calculator-container{
					margin-top:0.5em;
					border: 5px solid white;
					border-radius: 20px;
					background: silver;
					padding: 8px;
					width: 100%;
					height: 100%;
				}
			.numButton{
				font-weight: bolder;
				font-size: 1.5em;
				background: white;
				border-radius: 6px;
				width: 26%;
				height: 2.4em;
				margin: 6px;
				text-align: center;
				display: block;
				background: #615D5E;
				color: white;
				border: 1px solid white;
				box-shadow: 0 6px 8px gray;
			}
			.opButton{
				font-weight: bolder;
				font-size: 1.5em;
				background: white;
				border-radius: 6px;
				margin: 6px;
				text-align: center;
				display: block;
				width: 90%;
				height: 2.4em;
				border: 1px solid gray;
				box-shadow: 0 6px 8px gray;
				
			}
			.display{
				border: 2px solid brown;
				border-radius: 8px;
				font-size: 2em;
				margin-top: 0.7em;
				font-family: 'Oswald', sans-serif;
				/*margin-bottom: 0.7em;*/
				width: 100%;
				text-align: right;
				padding: 4px;
				display: block;
			}
			.numPad{
				width: 80%;
				display: flex;
				flex-wrap: wrap;
				justify-content:space-around;
				margin-top: 0.8em;
			}

			.opPad{
				width: 20%;
				display: flex;
				flex-direction: column;
				justify-content:space-around;
				margin-top: 0.8em;
			}
			.control{
				display: flex;
			}
			.btmrow{
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content:space-around;
				margin-top: 0.8em;
			}
			.btmButton{
				font-weight: bolder;
				font-size: 1.5em;
				background: white;
				border-radius: 6px;
				width: 20%;
				margin: 6px;
				text-align: center;
				display: block;
				height: 2.4em;
				border: 1px solid gray;
				box-shadow: 0 6px 8px gray;
			}
			.lbldiv{
				display: flex;
				justify-content:left;
				height: 1em;
				padding-top: 2px;
				padding-right: 20px;
				border-radius: 3px;
				display: block;
				text-align: right;
				font-size: 1em;
			}
			button:focus{
				outline: none;
			}
			.lone{
				font-size: 1em;
				border-radius: 6px;
				padding: 6px;
				width: 50%;
				margin: auto;
				text-align: center;
				display: block;
				font-weight: bolder;
				color: #070F3F;
			}
			@media only screen and (min-width: 768px){
				.calculator-container{
					margin: auto;
					width: 40%;
				}
			}